   <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="{% url 'chat:dashboard' %}">ChatProject</a>
            <ul id="navbar-menu" class="navbar-nav">
                {% if user.is_authenticated %}

                    <li><a href="{% url 'chat:profile_page' user.username %}">Profile</a></li>

                    <li><a href="{% url 'chat:search' %}">Search ID</a></li>
                    <li><a href="{% url 'chat:group_search' %}">Groups</a></li>
                    <li><a href="{% url 'chat:logout' %}">Logout</a></li>


                {% else %}
                    <li><a href="{% url 'chat:login' %}">Login</a></li>
                    <li><a href="{% url 'chat:register' %}">Register</a></li>
                {% endif %}
            </ul>

        </div>
    </nav>